body {
	background-color: #E2CFA8;
	color: #5F5939;
	font-size: 18px;
}

section {
	background-color: #456070;
	border: solid 5px #BA5711;
	color: #E2CFA8;
	margin: 15px;
	border-radius: 15px;
	padding: 8px 10px;
}

h3 {
	font-size: 24px;
}

/*img {
	border: solid 8px #BA5711;
	border-radius: 15px;
	margin-left: auto;
	margin-left: auto;
}*/

#myPicture {
	border: solid 8px #BA5711;
	border-radius: 15px;
	margin-right: auto;
	margin-left: auto;
	display: block;
}

#myName {
	font-size: 56px;
	font-family: 'Codystar', cursive;
	text-align: center;
	background-color: #456070;
	color: #BA5711;
	margin-top: 0px;
}

#aboutMe, #techStack {
	width: 30%;
	margin-right: 3px;
}

#experience {
	width: 60%;
	float: right;
	display: inline-block;
}

#job {
	text-align: center;
	font-size: 48px;
}

a {
	font-size: 20px;
	color: #E2CFA8;
	margin-right: auto;
	margin-left: auto;
}
